chex==0.1.89
chonkie==1.0.10
datasets==3.6.0
faiss==1.11.0
flax==0.10.7
huggingface_hub==0.32.3
jax==0.6.2
msgspec==0.19.0
nirtools==0.0.2
numpy==2.3.1
openai==1.97.0
optax==0.2.5
orbax==0.1.9
pandas==2.3.1
peft==0.16.0
Pillow==11.3.0
pyserini==0.44.0
python_heideltime==1.0
PyYAML==6.0.2
PyYAML==6.0.2
qwen_vl_utils==0.0.11
regex==2024.11.6
safetensors==0.5.3
setuptools==80.8.0
simple_parsing==0.1.7
sutime==1.0.1
torch==2.7.0+cu128
tqdm==4.67.1
transformers==4.53.2
vidore_benchmark==5.0.0
vllm==0.9.1
xformers==0.0.30
